@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);
html>body {
    background-color: #000000;
    font-family: Montserrat;
}


/*Start Register*/

.sectionAlign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*End Register*/


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    html>body {
        background-color: #FFF;
    }
    div.container>section.sectionAlign>div.card {
        border: none;
    }
    .sectionAlign {
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}